.d-md-flex.justify-content-center.p-3
        .col 
            .card.hero
                .card-header.py-5
                    //- img(class="d-block mx-auto mb-4 rounded-circle img-fluid avatar", src="img/me.jpg", alt=name, width="72", height="72")
                    h1.p-3.display-5.text-center.fw-bold #{name}
                    h3.text-center(data-i18n="hero.subtitle")
                    .d-flex.justify-content-evenly.w-50.mx-auto.fa-2x.pb-3.mt-3
                        a.btn.btn-outline-light.w-25(href="https://stackoverflow.com/users/"+stackOverflow, target="_blank")
                            i.fab.fa-stack-overflow.fa-2x
                        a.btn.btn-outline-light.w-25(href="https://www.linkedin.com/in/"+linkedin, target="_blank")
                            i.fab.fa-linkedin.fa-2x
                        a.btn.btn-outline-light.w-25(href="https://github.com/"+github, target="_blank")
                            i.fab.fa-github.fa-2x
                .card-body
                    .col-lg-6.mx-auto.pt-3.pb-5
                        p.lead.mb-4(data-i18n="hero.description")
                        .d-grid.gap-2.d-sm-flex.justify-content-sm-center
                            button.btn.btn-primary.btn-lg.px-4.me-sm-3(type="button" data-bs-toggle="modal" data-bs-target="#modalContact" data-i18n="hero.contact")
                            //- button.btn.btn-secondary.btn-lg.px-4(type="button" data-bs-toggle="modal" data-bs-target="#cvPreview" data-i18n="hero.viewResume")